<section>
  <button class="btn btn-primary contenido_button">
    <a href="/">Volver a Inicio</a>
  </button>
  <h1 class="contenido_title">Contenido de Archivo {{ archivo }}</h1>
  <p class="contenido_parrafo">{{ data }}</p>
</section>
